<h1>Edit List product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.list_product_path(@conn, :update, @list_product)) %>

<span><%= link "Back", to: Routes.list_product_path(@conn, :index) %></span>
