<h1>New List product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.list_product_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.list_product_path(@conn, :index) %></span>
